<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LX网</title>
</head>
<body>
<form>
    <table>
        <tr>
            <td>姓名:</td>
            <td><input type="text" name="username" id="username">
                <br>
            </td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="password" name="passwd" id="passwd">
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="signin" id="signin" value="登录">
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/register.html">注册
                </a>
            </td>
        </tr>
    </table>
    {%if msg %}
    <span>{{msg}}</span>
    {%endif%}
</form>
</body>
</html>